<%= form_with(model: mic, local: true) do |form| %>
  <% if mic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mic.errors.count, "error") %> prohibited this mic from being saved:</h2>

      <ul>
        <% mic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
