<div class="mixer">
  
  <section class="channel">
    <div></div>
    <div></div>
    <div></div>
    <p>CH-1</p>
    <a class="active"></a>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>   
    </ul> 
    <input class="slider" value="73" type="range" />
  </section>
  
  <section class="channel">
    <div></div>
    <div></div>
    <div></div>
    <p>CH-2</p>
    <a></a>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>   
    </ul> 
    <input class="slider" value="33" type="range" />
  </section>
  
  
  
  <section class="channel">
    <div></div>
    <div></div>
    <div></div>
    <p>CH-3</p>
    <a class="active"></a>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>   
    </ul> 
    <input class="slider" type="range" />
    <h4>HDB-600</h4>
  </section>
  
  
  
  <section class="channel">
    <div></div>
    <div></div>
    <div></div>
    <p>CH-4</p>
    <a class="active"></a>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>   
    </ul> 
    <input class="slider" value="43" type="range" />
  </section>
  
  
  
  <section class="channel">
      <ul class="volume-bars">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>   
    </ul> 
    <input class="volume" value="50" type="range" />
    <input class="volume" value="50" type="range" />
    <p>MASTER</p> 
    <a class="active master-btn"></a>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>   
    </ul> 
    <input class="slider master" value="50" type="range" />
  </section>
  
</div>

