input[type="range"] {
  position: relative;
  -webkit-appearance: none;
  width: 48%;
  margin: 0;
  padding: 0;
  height: 19px;
  margin: 30px 2.5% 20px 2.5%;
  float: left;
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
  width: var(--seek-before-width);
  height: 3px;
  background-color: #007db5;
  cursor: pointer;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::-moz-range-progress {
  background-color: #007db5;
}
input[type="range"]::-moz-focus-outer {
  border: 0;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border: solid transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background-color: #007db5;
}
input[type="range"]::-ms-fill-upper {
  background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
*::-webkit-scrollbar, *::-webkit-scrollbar-track, *::-webkit-scrollbar-button, div::-webkit-scrollbar {
    width: 8px !important;
    height: 5px !important;
    background-color: var(--bg-color) !important;
    border: none !important;
}
div#audio-player-container {
    position: fixed;
    bottom: 0;
    background: black;
    width: 100vw;
    z-index: 30000;
}
main {
    padding-bottom: 250px;
    margin-bottom: 250px;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  /*background: #d3d3d3;*/
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 43px;
  height: 44px;
  border: 0;
  background: url('/assets/violin.png');
  background-size: 100% 100%;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
border-radius:777777px;
  vertical-align:middle;
  cursor: pointer;
    margin: 7px; /* alignment fix for Chrome */

}


.slider::-moz-range-thumb {
  width: 43px;
  height: 45px;
  border: 0;
  background: url('/assets/violin.png');
  background-color: transparent;
  background-size: 100% 100%;
  background-position: center;
border-radius:777777px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.slider.fiddle::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 43px;
  height: 44px;
  border: 0;
  background: url('/assets/fiddle.png');
  background-size: 100% 100%;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
border-radius:777777px;
  vertical-align:middle;
  cursor: pointer;
    margin: 7px; /* alignment fix for Chrome */

}
.slider.fiddle::-moz-range-thumb {
  width: 43px;

  height: 45px;
  border: 0;
  background: url('/assets/fiddle.png');
  background-color: transparent;
  background-size: 100% 100%;
  background-position: center;
  vertical-align:middle;
border-radius:777777px;
  background-repeat: no-repeat;
  cursor: pointer;
}


.slider.saxophone::-moz-range-thumb {
  width: 43px;

  height: 45px;
  border: 0;
  background: url('/assets/saxophone.png');
  background-color: transparent;
  background-size: 100% 100%;
  background-position: center;
  vertical-align:middle;
border-radius:777777px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider.saxophone::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 43px;
  height: 44px;
  border: 0;
  background: url('/assets/saxophone.png');
  background-size: 100% 100%;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
border-radius:777777px;
  vertical-align:middle;
  cursor: pointer;
    margin: 7px; /* alignment fix for Chrome */

}
.slider.flutetraversiere::-moz-range-thumb {
  width: 43px;

  height: 45px;
  border: 0;
  background: url('/assets/flutetraversiere.png');
  background-color: transparent;
  background-size: 100% 100%;
  background-position: center;
  vertical-align:middle;
border-radius:777777px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider.flutetraversiere::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 43px;
  height: 44px;
  border: 0;
  background: url('/assets/flutetraversiere.png');
  background-size: 100% 100%;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
border-radius:777777px;
  vertical-align:middle;
  cursor: pointer;
    margin: 7px; /* alignment fix for Chrome */

}


.slider.piano::-moz-range-thumb {
  width: 43px;

  height: 45px;
  border: 0;
  background: url('/assets/piano.png');
  background-color: transparent;
  background-size: 100% 100%;
  background-position: center;
  vertical-align:middle;
border-radius:777777px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider.piano::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 43px;
  height: 44px;
  border: 0;
  background: url('/assets/piano.png');
  background-size: 100% 100%;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
border-radius:777777px;
  vertical-align:middle;
  cursor: pointer;
    margin: 7px; /* alignment fix for Chrome */

}



.slider.trompette::-moz-range-thumb {
  width: 43px;

  height: 45px;
  border: 0;
  background: url('/assets/trompette.png');
  background-color: transparent;
  background-size: 100% 100%;
  background-position: center;
  vertical-align:middle;
border-radius:777777px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider.trompette::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 43px;
  height: 44px;
  border: 0;
  background: url('/assets/trompette.png');
  background-size: 100% 100%;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
border-radius:777777px;
  vertical-align:middle;
  cursor: pointer;
    margin: 7px; /* alignment fix for Chrome */

}



