<div class="div1_name"><%=mixer.name%></div>
<img src="/uploads/<%=mixer.image%>"/>
<table>
  <tbody>
    <tr class="channel">
      <td><div class="mic"></div></td>
      <td><div class="mic"></div></td>
      <td><div class="mic"></div></td>
      <td><div class="mic"></div></td>
    </tr>
    <tr class="channel">
      <td><div class="linein"></td>
      <td><div class="linein"></td>
      <td><div class="linein"></td>
      <td><div class="linein"></td>
    </tr>
    <tr>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
  </tbody>
</table>

