<span onclick="document.getElementById('overlay').style.display = 'none';">X</span>
<%=form_with model: @vote do  |f|%>
<%end%>
<a href="javascript:void(0)" data-myurl="/uploads/<%=@recording.filename%>" onclick="playState='pause';(window.audio && !window.audio.paused ? window.audio.pause() : console.log('audio not playing'));window.audio.src=this.dataset.myurl;window.audio.load();">ecouter</a>

<p>
<%(1..5).each do |h|%>
<span onclick="$.ajax({type:'post',url:'/votes',data:{vote:{myfile_id:<%=@recording.id%>, note: <%=h%>}}});document.getElementById('overlay').style.display = 'none';">&#11088</span>
<%end%>
</p>
