<!DOCTYPE html>
<html>
  <head>
    <title>Violinexplorer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>
    <a href="/auth/login">connexion/inscription</a>
    <%= yield %>
  </body>
</html>
